# macOS
.DS_Store

# MATLAB
*.mat
*.fig
*.mexa64
*.mexmaci64
*.mexmaci
*.mex*
*.p

# Python
__pycache__/
*.py[cod]
venv/
env/

# IDEs and editors
.vscode/
.idea/

# Node
node_modules/

# Logs
*.log

# Temporary files
tmp/
temp/
